<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Estudiantes</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Gestion de Profesores</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="estudiantes.html">Estudiantes</a></li>
            <li><a href="profesores.html">Profesores</a></li>
            <li><a href="cursos.html">Cursos</a></li>
            <li><a href="inscripciones.html">Inscripcies</a></li>
        </ul>
    </nav>

    <section class="agregarProfesor">
        <h2>Agregar Nuevo Profesor</h2>
        <form id="form-profesor">
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" required>
            <br>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <br>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="profesion">Profesion:</label>
            <input type="text" id="profesion" name="profesion" required>
            <br>
            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name="telefono" required>
            <br>
            <button type="submit">Agregar Profesor</button>
        </form>
    </section>

    <section class="tablaProfesor">
        <h2>Lista de Profesores</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Profesion</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla-profesores">
                <!-- DATOS -->
            </tbody>
        </table>
    </section>    

    <footer>
        <p>Proyecto Gestion Universidad - Creado por: <a href="https://www.linkedin.com/in/nkaminski-profile/">Nicolas Kaminski</a></p>
    </footer>

    <section id="modal-modificar" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Modificar Estudiante</h2>
            <form id="form-modificar">
                <input type="hidden" id="modificar-id">

                <label for="modificar-dni">DNI:</label>
                <input type="text" id="modificar-dni" required>
                <br>
                <label for="modificar-nombre">Nombre:</label>
                <input type="text" id="modificar-nombre" required>
                <br>
                <label for="modificar-apellido">Apellido:</label>
                <input type="text" id="modificar-apellido" required>
                <br>
                <label for="modificar-email">Email:</label>
                <input type="email" id="modificar-email" required>
                <br>
                <label for="modificar-profesion">Profesion:</label>
                <input type="text" id="modificar-profesion" required>
                <br>
                <label for="modificar-telefono">Telefono:</label>
                <input type="text" id="modificar-telefono" required>
                <br>
                <button type="submit">Guardar cambios</button>
            </form>
        </div>
    </section>

    <script src="profesores.js"></script>
</body>
</html>